.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 0.5rem;
  background: #0070f3;
  
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.fighterGrid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;
  max-width: 800px;
  margin-top: 3rem;
  
}

.fighterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 1rem;
  gap: 8px;
  border-radius: 1rem;
  background: #fafafa;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  font-weight: 800;
  border: 1px solid red;
  border-radius: 30px;
}

.imageUrl {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;

}
/* 
.stats {
  display:flex;
  justify-content: space-between;
  align-content: center;
} */

.fighterName {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.fighterDescription {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
}

.fighterLink {
  margin-top: 1rem;
  font-size: 1rem;
}

.button { 
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 16px auto;
  padding: 0 1rem;
  background-color: #fafafa;
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s;

}
.block{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
}

.button_display {
  display: flex;
  justify-content: center;
  align-items: center;;
  height: 3rem;
  margin: 16px auto;
  padding: 0 1rem;
  border: 0;
  border-radius: 0.25rem;
  background: #fafafa;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: 600;
  transition: filter 0.2s;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  font-weight: 800;

}

.fighterArena {
  display:flex;
  justify-content:space-between;
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
}